.dark-theme {
  --bg-page: var(--color-black);
  --bg-container: var(--color-dark-1);
  --text-primary: var(--color-gray-1);
  --text-secondary: var(--color-gray-3);
  --border-color: var(--color-dark-2);
  --shadow-color: rgba(0, 0, 0, 0.5);
--shadow-main: 0 20px 40px rgba(51, 51, 51, 0.4), 0 8px 16px rgba(0, 0, 0, 0.2);
  --shadow-card: 0 3px 4px rgba(133, 133, 133, 0.24);
  --shadow-inset: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  --border: 1px solid var(--border-color);

  --checkbox-invert: 1;
  --bg-field: var(--color-dark-2);
  --border-color: rgba(255, 255, 255, 0.466);
}
.dark-theme .todo-item__delete-button svg path {
  stroke: var(--color-gray-3);
}