:root {
    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-dark-1: rgba(30, 30, 30, 1);
    --color-dark-2: rgba(44, 44, 44, 1);
    --color-gray-1: rgba(245, 245, 245, 1);
    --color-gray-2: rgba(217, 217, 217, 1);
    --color-gray-3: rgba(179, 179, 179, 1);
    --color-gray-4: rgba(117, 117, 117, 1);
    --bg-page: var(--color-gray-1);
    --bg-container: var(--color-white);
    --text-primary: var(--color-dark-1);
    --text-secondary: var(--color-gray-4);
    --border-color: var(--color-gray-3);
    --shadow-color: rgba(12, 12, 13, 0.1);
    --shadow-main: 0 10px 30px rgba(0, 0, 0, 0.05), 0 4px 6px rgba(0, 0, 0, 0.03);
    --shadow-card: 0 2px 8px rgba(82, 82, 82, 0.253);
    --shadow-inset: inset 0 3px 4px rgba(0, 0, 0, 0.055);
    --bg-field: var(--color-white);
    --border: 1px solid var(--border-color);
    --border-radius: 8px;
    --box-shadow: 0 4px 4px -4px rgba(12, 12, 13, 0.05), 0 16px 32px -4px var(--shadow-color);
    --input-height: 40px;
    --transition-duration: 0.2s;
    --bg-field: transparent;
}