.button {
  display: inline-flex;
  align-items: center;
  height: var(--input-height);
  padding: 12px;
  color: var(--bg-container);
  background-color: var(--text-primary);
  border: 1px solid var(--text-primary);
  border-radius: var(--border-radius);
  cursor: pointer;

  &:hover {
    color: var(--text-primary);
    background-color: transparent;
  }

  &:active {
    scale: 1.05;
  }
}