.field {
  position: relative;
  &:has(.field__input:not(:placeholder-shown)) .field__label {
    color: var(--text-primary);
    scale: 0.7;
    translate: -1.75em -2.6em;
  }
}

.field__label {
  position: absolute;
  top: 50%;
  left: 17px;
  color: var(--color-gray-3);
  translate: 0 -50%;
  pointer-events: none;
  transition: var(--transition-duration);
}

.field__input {
  --fieldInputPaddingX: 16px;
  --fieldSearchInputIconSize: 16px;

  width: 100%;
  height: var(--input-height);
  padding-inline: var(--fieldInputPaddingX);
  appearance: none;
  -webkit-appearance: none;
  color-scheme: dark;
  background-color: var(--bg-field);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset);
  color: var(--text-primary);
  transition: var(--transition-duration);

  &:hover {
    border-color: var(--color-gray-3);
  }

  &:focus {
    background-color: var(--bg-field) !important;
    border-color: var(--text-primary);
    outline: none;
  }

  &[data-js-todo-search-task-input] {
    background-color: var(--bg-field) !important;

    &:placeholder-shown {
      padding-right: calc(var(--fieldInputPaddingX) * 2 + var(--fieldSearchInputIconSize));
      background-image: url('../../icons/icon-search_black.svg');
      background-position: calc(100% - var(--fieldInputPaddingX)) 50%;
      background-size: var(--fieldSearchInputIconSize);
      background-repeat: no-repeat;
    }
    
    &::-webkit-search-decoration,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
      -webkit-appearance: none;
    }
  }
}

.field__input[data-js-todo-search-task-input]:placeholder-shown {
  background-image: url('../../icons/icon-search_black.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) 50%;
  background-size: 16px;
}

.dark-theme .field__input[data-js-todo-search-task-input]:placeholder-shown {
  background-image: url('../../icons/icon-search_white.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) 50%;
  background-size: 16px;
}

.field__input[data-js-todo-search-task-input]:not(:placeholder-shown) {
  background-image: none;
}

.field__input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");
  background-size: contain;
  cursor: pointer;
  margin-right: 0;
}

body:not(.dark-theme) .field__input[type="search"]::-webkit-search-cancel-button {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");
}