.todo {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 95%;
  max-width: 500px;
  min-height: 600px;
  padding: 24px;
  margin: 5vh auto;
  background-color: var(--bg-container);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-main);
  color: var(--text-primary);
}

.todo__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo__title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.todo__form {
  display: flex;
  column-gap: 16px;
}

.todo__field {
  width: 100%;
}

.todo__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  font-weight: 600;
  color: var(--text-secondary);
}

.todo__delete-all-button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--text-primary);
  cursor: pointer;

  &:hover {
    color: var(--color-gray-4);
  }

  &:not(.is-visible) {
    opacity: 0;
    visibility: hidden;
  }
}

.todo__list,
.todo__empty-massage {
  &:empty {
    display: none;
  }
}

.todo__list {
  --todoListRowGap: 8px;
  display: grid;
  row-gap: var(--todoListRowGap);
  overflow-y: auto;
  padding: 10px 5px;
  flex-grow: 1;
  align-content: start;
}

.todo-item {
  box-shadow: var(--shadow-card);
  transition: all 0.3s ease;
  max-height: 100px;
  overflow: hidden;
  word-break: break-all;
}

.todo-item:hover {
  transform: translateY(-2px);
}

.todo-item.is-disappearing {
  opacity: 0;
  max-height: 0;
  margin-bottom: -8px;
  padding: 0;
  border: none;
}


@media (max-width: 500px) {
  body {
    padding: 0;
    margin: 0;
    align-items: stretch;
    background-color: var(--bg-container);
  }

  .todo {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 30px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: var(--bg-container);
    overflow-x: hidden;
  }
}